.button {
    background-color: #6b70d5;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    margin-right: 20px;
    /* grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3; */
  }
  
  .helpButt {
    background-color: #6b70d5;
    border: none;
    color: white;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin-right: 20px;
  }
  
  .card {
    /* Add shadows to create the "card" effect */
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
    transition: 0.3s;
    width: 800px;
    text-align: center;
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px 50px 50px;
  }
  
  .grid-container {
    display: grid;
    row-gap: 50px;
    column-gap: 50px;
  }
  
